<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="yandex-verification" content="d46f4f8bf5321a94" />
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="Курс обучения программированию на Java в городе Тольятти" />
    <meta http-equiv="Cache-Control" content="no-cache">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/course/favicon.png">

    {% include yandex-metrika.md %}

    {% seo %}
</head>

<body>
<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header id="top" class="inner">
        <h1 id="project_title">
            <a href="{{site.baseurl}}"><span class="epam-style-bracket">< </span>{{site.title}}<span class="epam-style-bracket"> ></span></a>
        </h1>
        <div id="mainmenu">
            <ul>
                <li><a href="{{site.baseurl}}">Курс</a>
                    <ul>
                        <li><a href="{{site.baseurl}}">Главная</a></li>
                        <li><a href="{{site.about}}">Описание курса</a></li>
                        <li><a href="{{site.contenturl}}">Содержание курса</a></li>
                    </ul>
                </li>
                <li><a href="{{site.contenturl}}#описание-правил-и-процессов">Правила и процессы</a>
                    <ul>
                        <li><a href="{{site.materialsurl}}general/education_start">Старт процесса обучения</a></li>
                        <li><a href="{{site.materialsurl}}general/grow_intro">Правила работы с платформой Grow.by</a></li>
                        <li><a href="{{site.materialsurl}}general/learn_intro">Правила работы с платформой Learn.by</a></li>
                        <li><a href="{{site.materialsurl}}general/practical_tasks_completing_rules">Правила выполнения практических заданий</a></li>
                        <li><a href="{{site.materialsurl}}general/typical_mistakes">Типичные ошибки при выполнении практических работ</a></li>
                        <li><a href="{{site.materialsurl}}general/practical_tasks_evaluation_rules">Критерии выставления оценки для практических работ ментором</a></li>
                        <li><a href="{{site.materialsurl}}general/telegram_join">Подключение к Telegram каналу</a></li>
                        <li><a href="{{site.materialsurl}}general/faq">Часто задаваемые вопросы (FAQ)</a></li>
                        <li><a href="{{site.materialsurl}}general/junior_expectations">Что мы ждем от работы с Junior Backend Developer </a></li>
                        <li><a href="{{site.materialsurl}}general/offline_meetings_with_students">Как попасть на консультацию в офисе </a></li>
                    </ul>
                </li>
                <li><a href="{{site.contenturl}}#базовые-модули">Базовые модули</a>
                    <ul>
                        <li><a href="{{site.materialsurl}}git/git">Системы контроля версий - Git</a></li>
                        <li><a href="{{site.materialsurl}}java_intro/java_intro">Введение в платформу Java</a></li>
                        <li><a href="{{site.materialsurl}}java_basics/java_basics">Базовые понятия Java</a></li>
                        <li><a href="{{site.materialsurl}}oop/oop">Объектно ориентированное программирование (ООП)</a></li>
                        <li><a href="{{site.materialsurl}}data_handling/data_handling">Работа с данными</a></li>
                        <li><a href="{{site.materialsurl}}design_basics/design_basics">Основы проектирования и дизайна</a></li>
                        <li><a href="{{site.materialsurl}}20_matches/20_matches">Закрепление навыков: 20 спичек</a></li>
                        <li><a href="{{site.materialsurl}}caesar_cipher/caesar_cipher">Закрепление навыков: Шифр Цезаря</a></li>
                        <li><a href="{{site.materialsurl}}collections/collections">Работа с коллекциями в Java</a></li>
                        <li><a href="{{site.materialsurl}}exceptions/exceptions">Работа с исключениями в Java</a></li>
                        <li><a href="{{site.materialsurl}}calculator/calculator">Закрепление навыков: Калькулятор</a></li>
                    </ul>
                </li>
                <li><a href="{{site.contenturl}}#продвинутые-модули">Продвинутые модули</a>
                    <ul>
                        <li><a href="{{site.materialsurl}}maven/maven">Введение в сборщик проектов Maven</a></li>
                        <li><a href="{{site.materialsurl}}unit_testing/unit_testing">Введение в Unit-тестирование</a></li>
                        <li><a href="{{site.materialsurl}}spring_framework/spring_framework">Основы фреймворка Spring</a></li>
                        <li><a href="{{site.materialsurl}}db_basics/db_basics">Основы баз данных и SQL</a></li>
                        <li><a href="{{site.materialsurl}}jdbc/jdbc">Работа с базами данных в Java c использованием JDBC</a></li>
                        <li><a href="{{site.materialsurl}}http/http">Протокол HTTP и основы REST-сервисов</a></li>
                        <li><a href="{{site.materialsurl}}web_basics/web_basics">Основы WEB (HTML, CSS, JS)</a></li>
                        <li><a href="{{site.materialsurl}}spring_mvc_framework/spring_mvc_framework">Фреймворк Spring MVC</a></li>
                        <li><a href="{{site.materialsurl}}final_project/final_project">Разработка финального проекта</a></li>
                    </ul>
                </li>
                <li><a href="{{site.contenturl}}#завершение-обучения">Завершение обучения</a>
                    <ul>
                        <li><a href="{{site.materialsurl}}final_interview/final_interview">Подготовка к интервью</a></li>
                        <li><a href="{{site.materialsurl}}next_steps/next_steps">Завершение обучения</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>
</div>

<a id="button_go_to_top" href="#top"></a>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Based on development of Timur Sokolov and Ilia Isakhin.</p>
        <p>We believe that knowledge is the most powerful tool you can use to change your life for better.</p>
        <p>© 2020-2021 EPAM Systems, Izhevsk.</p>
    </footer>
</div>

{% if site.google_analytics %}
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>